.form-group > input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.form-group > input[disabled="disabled"]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #eee inset;
}

.form-group > input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.form-group > input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form-group.has-error > input::-webkit-input-placeholder {
    color: #a94442;
}